* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4efe8;
  color: black;
}

main {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px 20px;
}

header {
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: #ffffff;
  color: black;
  padding: 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #9aa6b2;
  border-top: 1px solid #9aa6b2;
}

nav a {
  color: black;
  text-decoration: none;
  border-right: 1px solid #9aa6b2;
  border-bottom: 2px solid transparent;
  padding: 12px 90px;
  flex-grow: 1;
}

nav a:hover {
  color: #1f5e5b;
  border-bottom-color: #1f5e5b;
}

nav a:last-child {
  border-right: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 250px;
  height: auto;
}

section {
  padding: 10px 20px 20px;
  scroll-margin-top: 178px;
}

#start {
  display: block;
}

.start-top,
#about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.start-image,
#about video {
  width: 50%;
  height: 300px;
  object-fit: cover;
}

.featured-products {
  display: flex;
  flex-wrap: wrap;
}

.selected-product {
  width: 33.33%;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #9aa6b2;
  position: relative;
}

.selected-product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: bottom;
  display: block;
}

.product-link,
form button {
  display: inline-block;
  background-color: #1f5e5b;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 15px;
}

.product-link:hover,
form button:hover {
  background-color: #0d2d2c;
  color: white;
}

.product-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.product-card {
  position: relative;
  flex: 0 1;
  min-width: 205px;
  max-width: 100%;
  border: 1px solid #9aa6b2;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
}

.badge {
  position: absolute;
  top: 10px;
  right: 5px;
  background-color: #932c37;
  border: 2px solid #41171c;
  color: white;
  padding: 5px 8px;
  font-weight: bold;
  border-radius: 8px;
}

.old-price {
  text-decoration: line-through;
  color: black;
}

.new-price {
  font-weight: bold;
  color: #932c37;
}

.product-card:hover {
  background-color: #e9f1f0;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 500px;
  border: 1px solid #9aa6b2;
  border-radius: 5px;
  padding: 20px;
  background-color: #ffffff;
}

form button {
  border: none;
  align-self: flex-end;
}

input,
select,
textarea {
  padding: 10px;
  border: 1px solid #9aa6b2;
  border-radius: 5px;
  width: 100%;
}

textarea {
  max-width: 100%;
  resize: vertical;
}

.contact-layout {
  display: flex;
  gap: 50px;
}

.contact-layout form,
.integrity-text {
  flex: 1;
}

footer {
  background-color: #183b3a;
  padding: 20px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: rgb(234, 235, 178);
  text-decoration: underline;
}

.footer-info {
  color: white;
  padding: 20px;
  border-radius: 10px;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: 3px solid rgb(68, 51, 198);
  outline-offset: 2px;
}

@media screen and (max-width: 1100px) {
  .selected-product {
    width: 50%;
  }
  nav a {
    padding: 12px 20px;
    text-align: center;
  }

  section {
    scroll-margin-top: 180px;
  }
}

@media screen and (max-width: 600px) {
  .selected-product {
    width: 100%;
  }
  nav {
    flex-wrap: wrap;
  }
  nav a {
    padding: 5px;
    font-size: 12px;
    border-right: none;
    flex-grow: 0;
  }

  .start-top,
  #about,
  .product-list,
  .contact-layout {
    flex-direction: column;
  }

  .start-image,
  #about video {
    width: 100%;
    height: 200px;
  }

  section {
    scroll-margin-top: 150px;
  }
}
